.personal-container,
.qual-container {
  height: 92vh;
  display: flex;
}

.personal-form,
.qual-form {
  width: 50%;
}

.qual-gen {
  position: fixed;
  bottom: 12rem;
  right: 40px;
}

.qual-save {
  position: fixed;
  bottom: 8rem;
  right: 40px;
}
/* .txt-box{
  margin-bottom: 1rem;
} */

 .summary-input,.skills-input{
   height: 5rem;
  width: 77% !important;
  margin-left: 1.5rem;
}
.skills-input::before{
  content: "Press Enter to insert";
  color: black;
  height: 2rem;
  width: 2rem;
}